*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{background-color: #f5f7fa;
    color: #333;
}
header{
    background: #0A1931;
    color: white;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2PX 10PX rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffc947;
    text-decoration: none;
    font-weight: bold;
    font-size: 20PX;
}
.logo img{
    height: 55px;
    width: 55PX;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14PX;
    font-weight: 500;
    padding: 6PX 8PX;
    white-space: nowrap;
}
nav a:hover{
    background: #ffc947;
    color: #0A1931;
}
.btn{
    background: #ffc947;
    color: #0A1931;
    border-radius: 20px;
    padding: 6PX 14px;
    font-weight: bold;
}
main{
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1{
    color:#0A1931;
    margin: 20px 0 10px;
    border-left: 4px solid #ffc947;
    padding-left: 10px;
}
 footer{
    background: #0A1931;
    color: white;
    text-align: center;
    padding: 20PX;
    margin-top: 30px;
 }
 .card{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
 }
 input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
 input[ type=submit] {
    background: #0A1931;
    color: #ffc947;
    border: none;
    cursor: pointer;
    font-weight: bold;
 }
 .menu-toggle{
    display: none;
    font-size: 28PX;
    cursor: pointer;
 } 
@media (max-width: 900PX)
  {
    nav ul {
      gap: 8PX ;}
      nav ul li a { font-size: 13px}
    }
   @media (max-width: 600PX)     {
    nav {display: none;}
    .menu-toggle{display: block;}
              nav ul{ flex-direction: column;}} 

    

              